/* product上層 start */
.object-pro {
  background: #fff;
  width: 97%;
  border-radius: 2rem;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 0 20px 0;
}

.pro-arrow {
  position: absolute;
  right: 3%;
  bottom: 5%;
  background: none;
  border: none;
}

.proInput {
  max-width: 400px;
  width: 400px;
  border-radius: 10px;
}

.proButton {
  background: none;
  border: none;
  position: absolute;
  right: 5%;
  top: 20%;
  color: rgba(0, 15, 145, 0.8);
}

/* product上層 end */

/* product下層 start */
.pro-down {
  width: 100%;
}

.pro-hr {
  width: 95%;
}

.pro-loading {
  background: rgba(255, 239, 206, 0.5);
  border-radius: 20px;
  width: 85%;
}
/* product下層 end */

/* 下拉展開動畫 start */
.displayOpen {
  opacity: 1;
  max-height: 800px;
  transition: all 0.8s;
}

.displayClose {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
/* 下拉展開動畫 end*/

/* 箭頭轉向動畫 start*/
.arrowRotateOpen {
  transform: rotate(90deg);
  transition: all 0.3s;
}

.arrowRotateClose {
  transform: rotate(0);
  transition: all 0.3s;
}

/* 箭頭轉向動畫 end*/

/* 下半部產品訊息、照片*/
.downImg {
  width: 80px;
}

.pro-product {
  background: rgb(238, 250, 249);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 85%;
  border-radius: 20px;
}
