/* Set content for font-families */
.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New";
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value="small"]::before {
  font-size: 16px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 20px !important;
}
.ql-container {
  font-size: 16px !important;
}
.ql-snow.ql-toolbar {
  margin: auto;
  display: block;
  background: #a2e2ea;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 100%;
  border: none !important;
}
.quillEditor {
  width: 100%;
  margin: auto;
  background-color: white;
}
.quillEditor > .ql-container {
  min-height: 500px;
}

.quillEditor > .ql-container > .ql-editor {
  min-height: 500px;
}

.ql-video {
}

.ql-editing {
  left: 600px !important;
  top: 0px !important;
}

.quillDiscussContentBtn {
  border: none;
  position: absolute;
  top: 9px;
  right: 17px;
  background-color: #a2e2ea;
}

.quillDiscussContentImg {
  font-size: 16px;
  color: rgb(71, 71, 71);
}

.quillDiscussContentImg:hover {
  color: rgb(73, 146, 255);
}

.ql-custome-select {
  background-color: white;
  border-radius: 3px;
  margin-right: 10px;
}
.indexDiscussContentQuill > div > div > p > span {
  font-size: 14px !important;
  color: rgb(105, 105, 105) !important;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
