.sidebar {
  margin: 0 auto;
}

.sidebar div {
  display: inline-block;
  font-family: "Microsoft JhengHei";
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}

/* 會員中心 hover+樣式 start*/
.centerLink {
  text-decoration: none;
  color: #000000;
}

.centerLink:hover {
  color: #2196d4;
}
/* 會員中心 hover+樣式 end*/

/* sidebar link圖示取消 */
.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  display: inline-block;
  width: 100%;
  font-size: 1.25rem;
  line-height: 50px;
}

/* 滑鼠的hover start */
.sidebar ul li a:hover {
  background: #e2e2e2;
}

.sidebar ul li a:hover div {
  color: #000;
}
/* 滑鼠的hover end */

/* Link匹配路徑後的active */
.linkSelected {
  background: #2196d4;
}

.linkSelected div {
  color: #fff;
}
/* Link匹配路徑後的active end*/

.point-sidebar {
  width: 20px;
  height: 20px;
  font-size: 16px;
}

.pointDivSide {
  width: 100%;
  text-decoration: none;
}

.ms-6 {
  margin-left: 80px;
}

/* 箭頭轉向 */
.transform {
  transform: rotate(90deg);
}
.arrowSize {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}
