.rent {
  width: 800px;
  height: 350px;
  background: #fff;
  margin: 10px;
  border-radius: 20px;
}
.rentImg {
  position: relative;
  top: 60px;
  left: 30px;
}
.rentImg Img {
  width: 300px;
  border-radius: 10px;
}

.rentWord {
  width: 420px;
  height: 250px;
  /* background-color: chartreuse; */
  position: relative;
  left: 375px;
  top: -195px;
  font-size: 18px;
  font-weight: bold;
}
.rentWord span {
  color: rgb(255, 41, 41);
}
.rentBtn {
  position: relative;
  left: 270px;
  top: -50px;
}
.changeBtn {
  width: 120px;
  height: 45px;
  font-size: 18px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
.swalForm {
  text-align: right;
}
.swalForm input {
  width: 250px;
}
.swalForm select {
  width: 250px;
}
