/* 上面 */
.box {
  width: 1000px;
  height: 500px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  text-align: left;
  margin-left: 100px;
}
/* 下面 */
.box2 {
  width: 1000px;
  height: 550px;
  background-image: url("../img/BK.png");
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left;
  margin-left: 100px;
  margin-top: 80px;
  border-radius: 10px;
}

.text1 {
  margin-top: 60px;
  margin-left: 50px;
  font-size: 14px;
}

.p6 {
  background-color: rgb(59, 137, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.p7 {
  float: none;
  margin-left: 400px;
  margin-top: -500px;
}
/* 遊戲大圖 */
.abb {
  width: 550px;
  height: 400px;
  padding: 20px;
  border-radius: 50px;
}
.favorite4 {
  margin-left: 180px;
  margin-right: 10px;
  margin-top: 30px;
}
.buy4 {
  margin-top: 30px;
}
/* 按鈕 */
.btn0 {
  margin-top: 45px;
  margin-left: 100px;
  /* padding-left: 60px;
    padding-right:60px; */
  display: inline-block;
  font-size: 20px;
  border: 5px;
  font-weight: bold;
}
.btn0 button {
  display: inline-block;
  margin-left: 2px;
}
/* 討論區 */
.forum {
  margin-top: 250px;
  margin-right: -100px;
}
