/* 上面 */
.box {
  position: relative;
  width: 1000px;
  height: 500px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  left: 100px;
}

/* 下面 */
.box2 {
  position: relative;
  width: 1000px;
  height: 550px;
  text-align: left;
  left: 100px;
  top: 800px;
  border-radius: 10px;
}
.aboutbagd {
  position: relative;
  top: 68px;
  left: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}
/* 3按鈕位置 */

.btwidg1 {
  position: absolute;
  width: 110px;
  top: 750px;
}
/* 遊戲介紹 */
.btwidg2 {
  position: relative;
  left: 100px;
  top: 15px;
}
/* 遊戲規格 */
.btwidg3 {
  position: relative;
  left: 212px;
  top: -23px;
}
/* 退換貨須知 */
.btwidg4 {
  position: relative;
  left: 323px;
  top: -61px;
}
/* 遊戲敘述 */
.box456 {
  position: absolute;
  width: 400px;
  /* height: 600px; */
  word-wrap: break-word;
  word-break: normal;
  top: 150px;
  left: 550px;
  font-size: 18px;
  text-indent: 36px;
  font-weight: bold;
}
.ellipsis3 {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
}
/* 標題 */
.p6 {
  background-color: rgb(59, 137, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
/* 遊戲大圖 */
.abb {
  width: 550px;
  height: 400px;
  padding: 20px;
  border-radius: 50px;
}
.favorite4 {
  position: absolute;
  top: 440px;
  left: 730px;
}
.buy4 {
  position: absolute;
  top: 440px;
  left: 860px;
}
/* 按鈕 */
.button6 {
  position: relative;
  width: 400px;
  font-size: 20px;
  border: 5px;
  font-weight: bold;
  left: 50px;
}
.button7 {
  position: absolute;
  top: 15px;
  left: 100px;
  font-size: 20px;
}
/* 討論區 */
.forum {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 1200px;
  left: 880px;
}
.pprice {
  position: absolute;
  font-size: 40px;
  left: 880px;
  top: 380px;
}
