/* 上面 */
.box {
  position: relative;
  width: 1000px;
  height: 500px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  left: 100px;
  top: 50px;
}

/* 下面 */
.box2 {
  position: relative;
  width: 1000px;
  height: 550px;
  text-align: left;
  left: 100px;
  top: 800px;
  border-radius: 10px;
}
.aboutbagd {
  position: relative;
  top: 100px;
  left: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-bottom: 160px;
}

.aboutbb {
  position: relative;
  top: 20px;
  left: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-bottom: 60px;
}

/* 遊戲敘述 */
.box456 {
  position: absolute;
  width: 420px;
  background-color: rgba(255, 255, 255, 0.767);
  height: 250px;
  word-wrap: break-word;
  word-break: normal;
  top: 150px;
  left: 520px;
  font-size: 18px;
  text-indent: 36px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 15px;
  margin-top: -30px;
}
.ellipsis3 {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
}
/* 標題 */
.p6-1 {
  background-color: rgb(243, 70, 40);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.p6-2 {
  background-color: rgb(59, 137, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.p6-3 {
  background-color: rgb(255, 160, 59);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* 遊戲大圖 */
.abb {
  position: absolute;
  width: 450px;
  height: 300px;
  border-radius: 50px;
  top: 100px;
  left: 30px;
}
.favorite4 {
  position: absolute;
  top: 443px;
  left: 730px;
}
.buy4 {
  position: absolute;
  top: 440px;
  left: 860px;
}

/* 討論區 */
.forum {
  position: absolute;
  width: 350px;
  height: 150px;
  top: 1200px;
  left: 30px;
}
/* 回到遊戲 */
.backto {
  position: absolute;
  width: 250px;
  height: 100px;
  top: 670px;
  right: 10px;
}
.pprice {
  position: absolute;
  font-size: 40px;
  left: 880px;
  top: 380px;
}
/* 遊戲敘述 */
.box457 {
  position: absolute;
  width: 800px;
  /* height: 600px; */
  word-wrap: break-word;
  word-break: normal;
  top: 900px;
  left: 200px;
  font-size: 18px;
  text-indent: 36px;
  font-weight: bold;
}
.ellipsis6 {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.about1 {
  /* background-color: white; */
  position: absolute;
  top: -20px;
  font-size: 20px;
  color: black;
  border: var(--fontColor);
  border-radius: 10px;
  border-color: var(--fontColor);
  width: 150px;
  height: 50px;
  padding: 0px -50px 0px -50px;
  box-shadow: 1px 1px 1px 1px var(--shadow);
}
.about1:hover {
  background-color: silver;
}
.about1Active {
  background-color: var(--doButton);
  color: white;
}
.about1Result {
  position: relative;
  top: 20px;
}

/* 紅字提醒 */
.redone {
  color: red;
}
