/* 場地訂購再次確認 */

/* 訂購再次確認 */
.doubleCheck {
  text-align: center;
  margin: 20px auto;
  padding: 50px;
  width: 800px;
  height: 400px;
  border-radius: 10px;
  background: rgb(255, 253, 231);
  box-shadow: 6px 6px 8px rgb(121, 121, 121, 0.6);
}

/* 資料正確按鈕 */
.siteDoubleCheck {
  position: relative;
  background: #6dd0cd;
  font-size: 20px;
  margin: 5px;
}
.siteDoubleCheck:hover {
  background: #0abbb5;
}

/* 資料錯誤按鈕 */
.siteWrong {
  position: relative;
  background: #f52222;
  color: #fff;
  font-size: 20px;
  margin: 5px;
}
.siteWrong:hover {
  background: #f19797;
}
