/*包廂介紹*/
.sixRoom {
  width: 1000px;
  border-radius: 10px;
  margin: 20px auto;
  left: 150px;
  background: rgb(255, 253, 231);
  box-shadow: 6px 6px 8px rgb(121, 121, 121, 0.6);
}
.fourRoom {
  width: 1000px;
  border-radius: 10px;
  margin: 30px auto;
  background: rgb(255, 253, 231);
  box-shadow: 6px 6px 8px rgb(121, 121, 121, 0.6);
}

/* 包廂介紹-六人房照片 */
.sixRoomImg {
  width: 500px;
  float: left;
  margin: 20px 30px;
  border-radius: 10px;
}
/* 包廂介紹-四人房照片 */
.fourRoomImg {
  width: 500px;
  float: right;
  margin: 20px 30px;
  border-radius: 10px;
}

/* 包廂介紹的文字 */
/* 六人房文字 */
.sixRoomText {
  height: 420px;
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
/* 四人房文字 */
.fourRoomText {
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
/* 包廂內文的小裝飾圖 */
.sixRoomTextLine {
  width: 380px;
  height: 2px;
  background: #000;
  position: relative;
  right: -530px;
  top: -5px;
}
.fourRoomTextLine {
  width: 380px;
  height: 2px;
  background: #000;
  margin: 10px;
}

/* 場地租借 */

/* 場地租借按鈕整體位置 */
.siteButton {
  text-align: center;
  margin: 20px auto;
}

/* 場地租借按鈕-六人房 */
.siteButton6 {
  margin-right: 10px;
  background: #6dd0cd;
  font-size: 20px;
}
/* 場地租借按鈕-四人房 */
.siteButton4 {
  margin-right: 10px;
  background: #6dd0cd;
  font-size: 20px;
}
.siteButton6:hover {
  margin-right: 10px;
  background: #0abbb5;
}
.siteButton4:hover {
  margin-right: 10px;
  background: #0abbb5;
}

/* 日曆及照片輪播位置 */
.site {
  width: 1100px;
  height: 920px;
  border-radius: 10px;
  box-shadow: 6px 6px 8px rgb(121, 121, 121, 0.6);
  margin: 20px auto;
  padding: 30px;
  background: rgb(255, 253, 231);
}
/* 場地租借日曆 */
.calendar {
  width: 1050px;
  height: 870px;
  /* background: rgb(252, 247, 196); */
  padding: 10px;
  border-radius: 10px;
  position: relative;
  right: 5px;
  /* background-color: #fbe719; */
  background-color: #fff;
  border: 1px solid rgb(173, 173, 173);
}
/* 行事曆標題 */
.fc-toolbar-title {
  color: #301b10;
}
/* 行事曆週期 */
.fc-col-header-cell-cushion {
  color: #8c5832;
  font-size: 18px;
}
/* 行事曆箭頭 */
.fc-icon {
  /* color: #03c9c2; */
}

/* 行事曆日期 */
.fc-daygrid-day-number {
  font-size: 19px;
  right: 85px;
  color: #000000;
}
/* 行事曆內容的time */
.fc-event-time {
  font-size: 15px;
  color: #8c5832;
  white-space: pre-wrap;
}
/* 行事曆內容的title */
.fc-event-title {
  font-size: 20px;
  color: #8c5832;
  white-space: pre-wrap;
}
/* 週頁面的背景 */
.fc-event-main-frame {
  background-color: #f8ef8a;
}

.siteImg {
  width: 700px;
  height: 500px;
  border: 1px solid transparent;
  margin: 10px auto;
}
.siteImg img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* 表單樣式 */
.formStyle {
  margin: 5px;
}

/* 錯誤訊息 */
.error {
  font-size: 20px;
  color: red;
  padding: 1px;
}

/* 訂購確認 */
.subCheck {
  position: relative;
  text-align: center;
  margin: 20px auto;
  padding: 50px;
  width: 800px;
  height: 20px auto;
  border-radius: 10px;
  background: rgb(255, 253, 231);
  box-shadow: 6px 6px 8px rgb(121, 121, 121, 0.6);
}
/* 前往訂購按鈕 */
.siteBookCheck {
  position: relative;
  background: #6dd0cd;
  font-size: 20px;
  margin: 5px;
}
.siteBookCheck:hover {
  background: #0abbb5;
}

/* 米寶 */
.Meeple {
  width: 250px;
  position: absolute;
  z-index: 2;
  left: -60px;
  bottom: 5px;
}

/* 包廂說明 */

/* 包廂說明文字大小 */
.roomExplain {
  /* position: absolute; */
  font-size: 180%;
}
/* 包廂說明文字位置 */
.roomExplainWord {
  z-index: 7;
  position: absolute;
  margin: 100px 320px;
}
/* 包廂說明的內文背景 */
.roomExplainBg {
  position: absolute;
  z-index: 3;
  border-radius: 20px;
  width: 660px;
  height: 450px;
  background: #fff;
  opacity: 0.6;
  left: 430px;
  margin: 20px 0px;
}
/* 包廂說明的照片尺寸 */
.bookingIndex {
  border-radius: 10px;
  /* opacity: 0.5; */
  width: 800px;
  display: block;
  margin: 20px auto;
  box-shadow: 6px 6px 8px rgb(121, 121, 121, 0.6);
}
/* 骰子圖片 */
.diceImg {
  width: 350px;
  position: absolute;
  bottom: 150px;
  left: 850px;
}
.dice1 {
  position: absolute;
  left: 900px;
  bottom: 180px;
  transform: rotate(10deg);
}
.dice2 {
  position: absolute;
  left: 1000px;
  bottom: 350px;
  transform: rotate(-20deg);
}
