/* Cart index start*/
.cartWidth {
  width: 80%;
  margin: 0 auto;
}

.CartListBG {
  width: 100%;
  min-height: 800px;
  height: 100%;
  background: rgb(196, 230, 250);
  border-radius: 0 0 20px 20px;
}
/* Cart index end*/

/* Cart1 component start*/
/* 小BOX */
.box123 {
  width: 900px;
  height: 250px;
  background-color: #fff;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
}
/* 購物車圖 */
.cartpic {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

/* 增加減 */
.countButton {
  border: none;
  background: none;
}
/* 計數 */
.count {
  margin: 0;
}

/* 價格 */
.cartprice {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

/* 移除旁的分隔線 */
.vLine {
  margin-right: 30px;
  width: 2px;
  height: 200px;
  border-left: 2px dashed #ff6d6d;
}
/* Cart1 component end*/

/* 結帳 */
.total {
  font-size: 25px;
}
.totalprice {
  display: flex;
  font-size: 40px;
  color: red;
  font-weight: bolder;
  margin-top: -15px;
}
.comebuy {
  border: 1px solid rgb(201, 201, 201);
  background: none;
}

/* 訂購人資料 */
.payman {
  position: relative;
  top: -40px;
  background-color: rgb(59, 137, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}

/* 商品清單列 */
.payman11 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(59, 137, 255);
  border-radius: 10px 10px 0 0;
  color: #fff;
}
.payman2 {
  position: relative;
  top: -10px;
  left: 70px;
}
.payman3 {
  position: relative;
  font-size: 20px;
  top: -30px;
  left: 150px;
}
.payman4 {
  position: relative;
  top: -275px;
  left: 500px;
}
.payman5 {
  font-size: 20px;
}
.payman6 {
  position: relative;
  font-size: 20px;
  top: 20px;
  left: 20px;
}
.payman10 {
  position: relative;
  font-size: 20px;
  top: -35px;
  left: 40px;
}
.red {
  background-color: #fff;
}
