:root {
  --fontColor: RGB(97, 98, 98);
  --shadow: #ccc;
  --doButton: #2196d4;
  --disButton: #ccc;
}
/* 活動標題置中 */
.bagd {
  max-width: 1200px;
  width: 100%;
  position: fixed;
}
/* 搜尋區塊開始 */
.searchBar {
  background: RGB(167, 228, 222);
  max-width: 779px;
  height: 52px;
  margin: 0 20;
  border-radius: 23px;
  box-shadow: 3px 3px 3px var(--shadow);
  padding: 3px;
  /* 為了searchicon的CSS */
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  left: 40px;
}
.searchIcon {
  position: absolute;
  top: 12%;
  left: 180px;
  margin-top: 0px;
  z-index: 1;
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
}
.fontColor {
  color: var(--fontColor);
  cursor: pointer;
}
.deleButton {
  padding-left: 20px;
  color: var(--fontColor);
  cursor: pointer;
}
.deleButton:hover {
  color: rgb(4, 4, 53);
  cursor: pointer;
}

/* 活動卡片CSS開始 */
.card {
  background: RGB(255, 253, 231);
  width: 500px;
  height: 388px;
  border-radius: 30px;
  box-shadow: 3px 3px 3px var(--shadow);
}
.contestPic {
  margin: 0px;
  padding: 0px;
  width: 500px;
  height: 193px;
  border-radius: 30px 30px 0px 0px;
  border-color: black;
  border-width: 1px;
  background: black;
  overflow: hidden;
}

.images {
  width: 100%;
  object-fit: contain;
  object-fit: fill;
}
.personNo {
  text-align: center;
  position: absolute;
  left: 20px;
  font-size: 24px;
  bottom: 10px;
  color: red;
}

/* 報名按鈕 */
.doButton {
  color: white;
  background: var(--doButton);
  width: 129px;
  height: 37px;
  border-radius: 12px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  right: 25px;
  bottom: 15px;
  cursor: pointer;
  text-decoration: none;
}

.doButton:hover {
  color: white;
  background: #66b3ff;
  width: 129px;
  height: 37px;
  border-radius: 12px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  right: 25px;
  bottom: 15px;
  cursor: pointer;
  text-decoration: none;
}

.doButton:active {
  color: white;
  background: #0066cc;
  width: 129px;
  height: 37px;
  border-radius: 12px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  right: 25px;
  bottom: 15px;
  cursor: pointer;
  text-decoration: none;
}

.disButton {
  color: white;
  background: var(--disButton);
  width: 129px;
  height: 37px;
  border-radius: 12px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  right: 25px;
  bottom: 15px;
  pointer-events: none;
}

/* 分類標籤 */
.recommendTag {
  position: absolute;
  top: 7px;
  left: -18px;
  width: 30px;
  height: 30px;
}

.tagImg {
  width: 85px;
}
.tagText {
  color: white;
  width: 50px;
  position: relative;
  bottom: 26px;
  left: 8px;
}
