/* header */
.FAQ_header {
  position: relative;
  margin-left: 5vw;
  width: 90vw;
}
/* title */
.title {
  margin: 0 0 0 5vw;
  font-size: 4vh;
}
.dice {
  float: left;
  margin: -4vh;
  width: 20vw;
  height: 4vh;
  position: relative;
}
/* 內文外框 */
.outer {
  border: solid rgb(255, 255, 255);
  width: 98vw;
  height: 95vh;
  background-image: url(../img/purple_rectangle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 6vw;
  position: relative;
}
/* 內文內框 */
.inner {
  /* border: solid black; */
  margin-left: 12vw;
  margin-top: 6vh;
  width: 77vw;
  height: 80vh;
}
/* 專員對話框 */
.Commissioner_avatar {
  margin-left: 2vw;
  margin-top: 2vh;
  float: left;
}
.dialog_box {
}
/* 底圖 */
.commissioner {
  position: absolute;
  bottom: 0;
  width: 17vw;
}
