/* header */
/* title */
.title_frame {
  position: relative;
  margin-left: 500px;
  margin-bottom: -25px;
}
.title {
  margin-left: 50px;
  font-size: 28px;
  font-weight: bold;
}
.instant_QA_dice {
  width: 250px;
  position: absolute;
  top: 15px;
  left: -10px;
}
/* 外框背景 */
.outer {
  border: 1px solid rgb(255, 255, 255, 0.1);
  background-image: url(../img/customer_service/rectangle.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 1200px;
  height: 1000px;
}
/* 內文內框 */
.inner {
  border: 1px solid rgb(0, 0, 0);
  margin: 60px 0px 10px 130px;
  width: 1020px;
  height: 800px;
  overflow: scroll;
}
.enlarge {
  float: right;
  position: relative;
  margin: 30px;
  width: 50px;
  cursor: pointer;
  z-index: 5;
}
#enlarge_font_size:active {
  position: relative;
  top: 1px;
}
#enlarge_font_size img:hover {
  width: 65px;
}
/* 對話框 */
.dialog_box {
  /* border: 1px solid rgb(240, 40, 40); */
  margin: 20px;
  position: relative;
}
/* 對話時間*/

/* 專員對話框 */
.commissioner_dialog {
  display: inline-block;
  /* border: 1px solid rgb(14, 236, 69); */
  padding: 20px;
  position: relative;
}
/* 專員頭像 */
.commissioner_avatar {
  position: absolute;
  top: 10px;
}
/* 顧客頭像 */
.customer_avatar{
  position: absolute;
  top: 15px;
  width: 80px;
}
/* 專員答覆 */
.conversation_time {
  display: flex;
  justify-content: end;
  font-size: 14px;
}
.commissioner_answer {
  position: relative;
  background: #e1f5fe;
  margin-left: 80px;
  border-radius: 15px;
  padding: 20px 5px 20px 5px;
}

.commissioner_answer:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right-color: #e1f5fe;
  border-left: 0;
  margin-top: -15px;
  margin-left: -15px;
}
/* 問題框架 */
.question_frame {
  border-radius: 15px;
  display: inline-block;
  width: 800px;
  padding: 0 5px;
  margin: -10px 0px;
}
.question_frame p {
  margin: 10px 0px 5px 10px;
}
/* 問題清單 */
.shopping_problem li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  padding-bottom:5px;
  padding-top:5px; 
}

.shopping_problem ul {
  margin: 0;
  padding: 0;
}
.list_fram {
  display: inline-flexbox;
  width: 138px;
  height: 150px;
  text-align: center;
  background-color: #d1c4e9;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 25%);
  margin-left:10px
}
.click_range_title {
  z-index: 5;
  padding: 130px 35px 5px 35px;
  color: #140078;
  cursor: pointer;
}
.click_range_list {
  padding: 0px 30px 0px 30px;
  margin: 0px;
  color: #00227b;
  cursor: pointer;
  font-weight: normal;
}
.click_range_list:hover {
  background-color: #e1f5fe;
}
.click_range_list:active {
  color: #6e6e6e;
}
.list_background {
  background-color: #ffffff;
}
.robot_answer{
  max-width:500px;
}
.robot_answer a{text-decoration: none;}
.robot_answer_inner{
  margin-top:10px;
  background-color: #b7dff0;
  border-radius:10px;
  padding:10px;
}
.robot_answer_list{
  color:#140078;
  font-weight: bolder;
}
/* 顧客對話 */
.customer_dialog {
  margin: 20px 80px 20px 20px;
  text-align: right;
  /* border: 1px solid rgb(29, 14, 236); */
  padding: 20px;
  position: relative;
}
.customer_conversation_time {
  display: flex;
  justify-content: end;
  font-size: 14px;
}
.customer_answer {
  position: relative;
  background: #e1f5fe;
  border-radius: 15px;
  padding: 20px 5px 20px 5px;
  margin-right: 10px;
  display: inline-block;
}

.customer_answer:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: #e1f5fe;
	border-right: 0;
	margin-top: -5px;
	margin-right: -10px;
}
/* 輸入問題*/
.input_question_outer {
  border: 1px solid rgb(255, 255, 255);
  margin-left: 300px;
  width: 820px;
  height: 70px;
  position: relative;
}
.input_question {
  border: 1px solid rgb(70, 70, 70);
  border-radius: 30px;
  margin-top: 10px;
  width: 820px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}
input[type="search"].input_content {
  border: 0px;
  padding: 0px;
  border-radius: 0px;
  border: none;
  font-size: 18px;
  margin-left: 20px;
  width: 700px;
}
.input_content:focus {
  outline: none;
}
.sent_img {
position: absolute;
right:50px;
  cursor: pointer;
  width: 40px;
}
.input_content:focus ~ .automatic_search_outer {
  /* display: block; */
}
/* 自動搜尋問題列表 */
.automatic_search_outer {
  display: none;
  letter-spacing: 1.5px;
  position: absolute;
  top: -175px;
  left: 10px;
}
.automatic_search {
  border: 1px solid rgb(70, 70, 70);
  width: 240px;
  padding: 5px 10px 0px 5px;
  border-radius: 10px;
}
.automatic_search li {
  list-style: none;
  margin: 5px 0px 0px -20px;
  border-bottom: 1px solid gray;
}
.adjustment_ul {
  margin: 0px;
}
/* 底圖 */
.commissioner {
  position: absolute;
  bottom: 0;
  width: 250px;
}
