.yellow {
  background: rgb(255, 253, 231);
}

.login {
  position: relative;
  height: calc(100vh - 120px);
}

.bold {
  font-weight: bold;
}

.titleLineBox {
  max-width: 300px;
}
.titleLine {
  padding-top: 10px;
}

.backgroundImageLogin {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: calc(100vh - 120px);
  opacity: 80%;
  filter: blur(3px);
  background-size: cover;
}

.CenterDivLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  max-height: 600px;
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 90%;
  border-radius: 2rem;
}

.forget {
  text-align: end;
}

.forgetA {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.input {
  max-width: 250px;
  width: 250px;
}

.hrLogin {
  width: 80%;
}

.btn-primary {
  background: #2196d4;
  width: 100%;
}

.button {
  max-width: 400px;
  width: 400px;
}

.decNone {
  text-decoration: none;
  color: #fff;
}
