.sidebarRange {
  max-width: 300px;
  width: 100%;
}

.rightDetail {
  max-width: 900px;
  width: 100%;
  background: #fff4d1;
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.3);
  min-height: calc(100vh - 120px);
}

.titleMargin {
  margin-bottom: 40px;
}

.changeImg {
  width: 85%;
}

.changeImg p {
  max-width: 120px;
  width: 120px;
}

.changeImg img {
  width: 150px;
  height: 150px;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
}

.changeImg div {
  width: 150px;
  height: 150px;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
}

.changeImg button {
  max-width: 100px;
  width: 100px;
  background: #fffae8;
  color: #da5656;
  border: 1px solid #da5656;
  border-radius: 1.2rem;
  padding: 5px 10px;
}

.changeImg button:hover {
  background: #c4c3c2;
}

.labelInput {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
}

.labelInput:hover {
  background: #dbdbdb;
  cursor: pointer;
}

.modalBody {
  width: 100%;
  height: 100%;
  border-top: 0.5px dashed #000000;
  border-bottom: 0.5px dashed #000000;
}

.modalBody div {
  line-height: 350px;
  font-size: 24px;
}

.reactCrop {
  width: 500px;
  height: 500px;
}

.previewCrop {
  border: 1px solid #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.memForm {
  margin-bottom: 10rem;
}

.detailLabel {
  line-height: 100%;
}

.formSize {
  width: 85%;
}

.btnWidth {
  width: 80%;
}

.LHeignt {
  line-height: 38px;
}
