.gametype {
  color: black;
  text-decoration: none;
  font-size: 30px;
  padding: 0 30px 0px 30px;
}
.gametype:hover {
  color: rgb(218, 67, 22);
  text-decoration: none;
  padding: 0 30px 10px 30px;
  width: 100px;
  border-bottom: 5px solid rgb(219, 81, 16);
}
.buttooon0 {
  position: relative;
  width: 100px;
  top: -500px;
}
.button123 {
  position: absolute;
  top: 50px;
  left: 800px;
}
.button1234 {
  position: absolute;
  top: 50px;
  left: 1003px;
}
.button12345 {
  position: absolute;
  top: 50px;
  left: 902px;
}

/* 超連結顏色 */
.a1 {
  color: black;
  text-decoration: none;
}
/* 遊戲標題 */
.p1 {
  position: relative;
  background-color: rgb(59, 137, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 20px;
  width: 450px;
  padding-left: 10px;
  left: -11px;
  font-weight: bold;
}
/* 第一名遊戲介紹 */
.p2 {
  margin: 25px 20px 0 20px;
  font-weight: bold;
  font-size: 15px;
  text-indent: 35px;
}
/* 第二名遊戲介紹 */
.p3 {
  font-size: 15px;
  margin: 0 10px -2px 10px;
  padding-left: 200px;
  margin: -190px 0 2px 0;
  text-indent: 35px;
  font-weight: bold;
}
/* 投票數 */
.p5 {
  position: relative;
  color: rgb(59, 137, 255);
  font-size: 15px;
  top: 35px;
  left: 20px;
  font-weight: bold;
}

/* 二，三遊戲 */
.posi {
  position: relative;
  width: 450px;
  height: 265px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  /* margin: -550px 0 0 600px; */
  left: 250px;
  top: -550px;
}
.posi span {
  position: relative;
  left: 350px;
  top: 10px;
  font-weight: bold;
  font-size: 25px;
}
.posi2 {
  position: relative;
  width: 450px;
  height: 265px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  left: 250px;
  top: -530px;
}
.posi2 span {
  position: relative;
  left: 350px;
  top: 10px;
  font-weight: bold;
  font-size: 25px;
}

/* 第一名遊戲 */
.shadowbox {
  position: relative;
  width: 450px;
  height: 550px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin-left: 120px;
}
.shadowbox span {
  font-size: 30px;
  margin: 100px 0 0 350px;
  font-weight: bold;
}

/* 大圖一 */
.abc {
  position: relative;
  width: 430px;
  height: 300px;
  padding: 10px;
  border-radius: 50px;
}

/* 類型小標籤 */
.type {
  font-size: 20px;
  width: 50px;
  background-color: rgb(59, 137, 255);
  color: #fff;
  margin: 20px 20px 10px 30px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
.type1 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(59, 137, 255);
  color: #fff;
  left: 40px;
  top: 300px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
.type2 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(59, 137, 255);
  color: #fff;
  left: 30px;
  top: 200px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
.type3 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(59, 137, 255);
  color: #fff;
  left: 30px;
  top: 200px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
.gamename {
  font-weight: bold;
  font-size: 20px;
  margin: -40px 0 0 100px;
}
/* 線段 */
.hr {
  display: flex;
  margin: auto;
  height: 5px;
  width: 1000px;
  margin-bottom: 20px;
}

.abcd {
  display: flex;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-right: 100px;
  border-radius: 30px;
}
.abcde {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-right: 100px;
  border-radius: 30px;
}
/* 大最愛 */
.favorite {
  position: relative;
  left: 150px;
  top: -30px;
}
/* 大購物車 */
.buy {
  position: relative;
  top: -30px;
  left: 160px;
}
/* 中最愛 */
.favorite2 {
  margin: 20px 10px 0 200px;
  height: 30px;
  width: 80px;
}
/* 中購物車 */
.buy2 {
  margin-top: 19px;
  height: 33px;
  width: 80px;
}
/* 下牌遊戲圖片 */
.pic {
  position: relative;
  width: 220px;
  height: 200px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 30px;
}

.favorite3 {
  margin: 0 20px 30px 20px;
  height: 50px;
  width: 50px;
}
.buy3 {
  margin-bottom: 30px;
  height: 50px;
  width: 50px;
}

.boxflex {
  position: relative;
  display: flex;
  width: 250px;
  height: 350px;
  flex-wrap: wrap;
  top: -400px;
  left: 100px;
}
/* 下排遊戲 */
.shadowbox4 {
  position: relative;
  width: 250px;
  height: 350px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  top: -400px;
  left: 100px;
  /* margin: 50px 50px 0 0; */
}
.shadowbox4 span {
  font-size: 25px;
  font-weight: bold;
  margin: 170px;
}
.iconflex {
  display: flex;
  margin-top: -40px;
}
.iconflex2 {
  display: flex;
}
