.buttooon0 {
  position: absolute;
  width: 100px;
  top: 830px;
}
.button123 {
  position: absolute;
  top: 50px;
  left: 720px;
}
.button1234 {
  position: absolute;
  top: 50px;
  left: 923px;
}
.button12345 {
  position: absolute;
  top: 50px;
  left: 822px;
}
/* 超連結顏色 */
.a1 {
  color: black;
  text-decoration: none;
}
/* 遊戲標題 */
.type41 {
  position: relative;
  background-color: rgb(243, 70, 40);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 20px;
  width: 450px;
  padding-left: 10px;
  left: -24px;
  font-weight: bold;
}
.type42 {
  position: relative;
  background-color: rgb(59, 137, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 20px;
  width: 450px;
  padding-left: 10px;
  left: -24px;
  font-weight: bold;
}

.type43 {
  position: relative;
  background-color: rgb(255, 160, 59);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 20px;
  width: 450px;
  padding-left: 10px;
  left: -24px;
  font-weight: bold;
}
/* 第一名遊戲介紹 */
.p2 {
  position: absolute;
  width: 350px;
  height: 150px;
  word-wrap: break-word;
  word-break: normal;
  top: 350px;
  left: 50px;
  font-size: 18px;
  text-indent: 36px;
  font-weight: bold;
}
/* 第二名遊戲介紹 */
.p3 {
  position: absolute;
  width: 200px;
  height: 50px;
  word-wrap: break-word;
  word-break: normal;
  top: 70px;
  left: 220px;
  font-size: 18px;
  text-indent: 36px;
  font-weight: bold;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.ellipsis2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
/* 投票數 */
.p5 {
  position: absolute;
  color: rgba(41, 81, 88, 0.836);
  font-size: 15px;
  top: 240px;
  font-weight: bold;
}
.p8 {
  position: absolute;
  color: rgb(41, 81, 88, 0.836);
  font-size: 20px;
  top: 510px;
  font-weight: bold;
}
/* 二，三遊戲 */
.posi {
  position: absolute;
  width: 450px;
  height: 265px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  left: 610px;
  top: 300px;
}
.posi span {
  position: absolute;
  left: 360px;
  top: 180px;
  font-weight: bold;
  font-size: 25px;
}
.posi2 {
  position: absolute;
  width: 450px;
  height: 265px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  left: 610px;
  top: 585px;
}
.posi:hover {
  box-shadow: 8px 8px 5px rgb(148, 148, 148);
}
.posi2:hover {
  box-shadow: 8px 8px 5px rgb(148, 148, 148);
}
.posi2 span {
  position: absolute;
  left: 360px;
  top: 180px;
  font-weight: bold;
  font-size: 25px;
}
/* 第一名遊戲 */
.shadowbox {
  position: relative;
  width: 450px;
  height: 550px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  top: 10px;
  left: -250px;
}
.shadowbox:hover {
  box-shadow: 8px 8px 5px rgb(148, 148, 148);
}
.shadowbox span {
  position: absolute;
  font-size: 30px;
  top: 440px;
  left: 330px;
  font-weight: bold;
}

/* 大圖一 */
.abc {
  position: absolute;
  width: 430px;
  height: 300px;
  padding: 10px;
  border-radius: 50px;
}

/* 類型小標籤(下排) */
.type30 {
  position: absolute;
  font-size: 20px;
  width: 50px;
  background-color: rgb(243, 70, 40);
  color: #fff;
  top: 240px;
  left: 30px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 類型小標籤(下排) */
.type31 {
  position: absolute;
  font-size: 20px;
  width: 50px;
  background-color: rgb(59, 137, 255);
  color: #fff;
  top: 240px;
  left: 30px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 類型小標籤(下排) */
.type32 {
  position: absolute;
  font-size: 20px;
  width: 50px;
  background-color: rgb(255, 160, 59);
  color: #fff;
  top: 240px;
  left: 30px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 第一名遊戲家庭標籤 */
.type10 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(243, 70, 40);
  color: #fff;
  left: 40px;
  top: 300px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 第一名遊戲策略標籤 */
.type11 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(59, 137, 255);
  color: #fff;
  left: 40px;
  top: 300px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 第一名遊戲標籤卡牌 */
.type12 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(255, 160, 59);
  color: #fff;
  left: 40px;
  top: 300px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 第二、三名遊戲家庭標籤 */
.type20 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(243, 70, 40);
  color: #fff;
  left: 30px;
  top: 200px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 第二、三名策略標籤 */
.type21 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(59, 137, 255);
  color: #fff;
  left: 30px;
  top: 200px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 第二、三名卡牌標籤 */
.type22 {
  position: absolute;
  font-size: 20px;
  height: 30px;
  background-color: rgb(255, 160, 59);
  color: #fff;
  left: 30px;
  top: 200px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
/* 下方遊戲名稱 */
.gamename {
  position: absolute;
  font-weight: bold;
  top: 240px;
  left: 100px;
  font-size: 20px;
}
/* 線段 */
.hr {
  display: flex;
  margin: auto;
  height: 5px;
  width: 1000px;
  margin-bottom: 20px;
}

.abcd {
  display: flex;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-right: 100px;
  border-radius: 30px;
}
.abcde {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-right: 100px;
  border-radius: 30px;
}
/* 大最愛 */
.favorite {
  position: absolute;
  left: 170px;
  top: 73px;
}
/* 大購物車 */
.buy {
  position: absolute;
  top: 70px;
  left: 300px;
}
/* 中最愛 */
.favorite2 {
  margin: 20px 10px 0 200px;
  height: 30px;
  width: 80px;
}
/* 中購物車 */
.buy2 {
  margin-top: 19px;
  height: 33px;
  width: 80px;
}
/* 下牌遊戲圖片 */
.pic {
  position: relative;
  width: 230px;
  height: 200px;
  margin-top: 20px;
  right: -5px;
  display: flex;
}

.favorite3 {
  margin: 0 20px 30px 20px;
  height: 50px;
  width: 50px;
}
.buy3 {
  position: relative;
  left: 50px;
  top: -5px;
  width: 20px;
  height: 20px;
}
.boxflex {
  position: relative;
  display: flex;
  width: 250px;
  height: 350px;
  flex-wrap: wrap;
  top: -400px;
  left: 100px;
}
/* 下排遊戲 */
.shadowbox4 {
  position: relative;
  width: 250px;
  height: 350px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  top: 100px;
  margin-left: 50px;
  margin-top: 50px;
}
.shadowbox4:hover {
  box-shadow: 8px 8px 5px rgb(148, 148, 148);
  transform: scale(1.2);
  transition: 0.5s;
}

.shadowbox4 span {
  position: absolute;
  top: 295px;
  left: 170px;
  font-size: 25px;
  font-weight: bold;
}
.iconflex {
  position: absolute;
  top: 290px;
  left: 10px;
}
.iconflex2 {
  position: absolute;
  top: 205px;
  left: 70px;
}
.favorbox {
  position: absolute;
  top: 420px;
  left: 20px;
}
.boxer123 {
  position: relative;
  width: 1000px;
  height: 950px;
}

.container1456 {
  max-width: 1129px;
  height: 1700px;
  border: solid;
  border-radius: 10px;
  border-color: var(--primary);
  background-color: var(--primary);
  box-shadow: 3px 3px 3px var(--shadow);
  padding-top: 20px;
  padding-left: 35px;
  margin-bottom: 100px;
  margin-left: 40px;
}

/* 首頁 */
.container1457 {
  max-width: 1129px;
  height: 4100px;
  border: solid;
  border-radius: 10px;
  border-color: var(--primary);
  background-color: var(--primary);
  box-shadow: 3px 3px 3px var(--shadow);
  padding-top: 20px;
  padding-left: 35px;
  margin-bottom: 100px;
  margin-left: 40px;
}
.PPResult {
  background-color: white;
  color: var(--fontColor);
  max-width: 1050px;
  min-height: 850px;
  margin-top: 40px;
}
.inpr01 {
  position: absolute;
  left: 50px;
  top: 62px;
}
.inpr02 {
  position: absolute;
  right: 50px;
  top: 62px;
}
/* 首頁第一名 */
.inpr03 {
  position: absolute;
  left: 340px;
  top: 80px;
}
.inpr04 {
  position: absolute;
  left: 50px;
  top: 320px;
}
.inpr05 {
  position: absolute;
  right: 50px;
  top: 320px;
}
