.gametype {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.typeImg {
  object-fit: contain;
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.button0{
  float:right;
  margin-top: 50px;
  padding: 10px;
  display: inline;
  
}
.button1{
  padding: 2px;
  display: inline
}
.button2{
  padding: 0x;
  display: inline
}
.button3{
  padding: 10px;
  display: inline
  }

.p1 {
  background-color: rgb(59, 137, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}
.p2 {
  margin: 25px 20px 0 20px;
  font-weight: bold;
  font-size: 15px;
  /* text-indent: 10px; */
  /* text-align: center; */
}
.p3 {
  font-size: 15px;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  margin: 0 10px -2px 10px;
  padding-left: 200px;
  margin-top: -190px;
  padding-bottom: -50px;
  text-indent: 35px;
  font-weight: bold;
  /* text-align: center; */
}
.p4 {
  background-color: rgb(59, 137, 255);
  float:left;
  color: #fff;
  font-size: 20px;
  margin-right: 100px;
  padding: 10px;
}
  .shadowbox {
  float: left;
  width: 400px;
  height: 550px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin-left: 150px;
}
.shadowbox span {
  font-size: 30px;
  margin-left: 300px;
  margin-top: 100px;
  font-weight: bold;
}
.shadowbox2 span {
  font-size: 25px;
  margin-left: 330px;
  /* margin-bottom:-100px; */
  font-weight: bold;
  /* float:right; */
}
.shadowbox3 span {
  font-size: 25px;
  margin-left: 330px;
  font-weight: bold;
}
.abc {
  /* object-fit: contain; */
  width: 400px;
  height: 300px;
  padding: 10px;
  border-radius: 50px;
}
.shadowbox2 {
  float: right;
  width: 400px;
  height: 265px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186)4;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin-right: 150px;
}
.shadowbox3 {
  float: right;
  width: 400px;
  height: 265px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186)4;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin-right: 150px;
  margin-top: 20px;
}
.shadowbox4 {
  float: left;
  width: 250px;
  height: 400px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 150px; 
}
.shadowbox4 span {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: bold;
  float:right;
}
.shadowbox5 {
  float: left;
  width: 250px;
  height: 400px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 40px; 
}
.shadowbox5 span {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: bold;
  float:right;
}
.shadowbox6 {
  width: 250px;
  height: 400px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
   margin-left: 100px; 
  margin-top: 100px; 
}
.shadowbox6 span {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: bold;
  float:right;
}
.shadowbox7 {
  float: left;
  width: 250px;
  height: 400px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  margin-left: 100px;
  margin-top: -400px; 
}
.shadowbox7 span {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: bold;
  float:right;
}
.shadowbox8 {
  float: left;
  width: 250px;
  height: 400px;
  box-shadow: 8px 8px 5px rgb(189, 186, 186);
  border-radius: 5px;
  margin-left: 450px;
  margin-top: -400px; 
}
.shadowbox8 span {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 30px;
  font-weight: bold;
  float:right;
}

.type {
  font-size: 20px;
  background-color: rgb(59, 137, 255);
  color:#fff;
  float:left;
margin: 20px 20px 10px 20px ;
padding:3px;
}
.gamename{
  font-weight: bold;
  font-size: 20px;
  float:left;
  margin: 22px 0 0 0;
}
.hr1 {
  background-color: rgb(59, 137, 255);
 
}
.hr2 {
  background-color: rgb(59, 137, 255);
  position: relative;
  top: 600px;
size: 13;
}

.abcd {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-right: 100px;
  padding: 10px;
  border-radius: 30px;
}
.abcde {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-right: 100px;
  padding: 10px;
  border-radius: 30px;
}

.favorite {
  margin-left: 130px;
  margin-right:10px;
  margin-top: 10px;
}
.buy {
  margin-top: 10px;
}

.favorite2 {
  margin-left: 220px;
  margin-top: 2px;
  margin-right:10px;
  height: 30px;
  width: 80px;
}
.buy2 {
  margin-top: 2px;
  height: 30px;
  width: 80px;
}
.pic {
  width: 250px;
  height: 200px;
  padding: 10px;
  /* margin-left: 100px; */
  margin-top: 50px;
  padding: 10px;
  border-radius: 30px;
}
.favorite3 {
  margin-bottom:-50px;
  margin-right:20px;
  margin-left:20px;
  height: 50px;
  width: 50px;
}
.buy3 {
  margin-bottom:-50px;
  height: 50px;
  width: 50px;
}
