.sidebarRange {
  max-width: 300px;
  width: 100%;
  height: 800px;
}

.rightDetail {
  max-width: 900px;
  width: 100%;
  background: #fff4d1;
  height: 800px;
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.3);
}

.titleMargin {
  margin-bottom: 40px;
}

.changeImg {
  width: 85%;
}

.changeImg p {
  max-width: 120px;
  width: 120px;
}

.changeImg img {
  width: 150px;
  height: 150px;
  border: 1px solid #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
}

.changeImg button {
  max-width: 100px;
  width: 100px;
  background: #fffae8;
  color: #da5656;
  border: 1px solid #da5656;
  border-radius: 1.2rem;
}

.changeImg button:hover {
  background: #c4c3c2;
}

.memForm {
  margin-bottom: 10rem;
}

.detailLabel {
  line-height: 100%;
}

.formSize {
  width: 85%;
}

.btnWidth {
  width: 80%;
}
