/* banner */
.replyBannerBox {
  position: relative;
  margin: auto;
  margin-bottom: 200px;
  width: 1000px;
  box-shadow: #e6e6e4 20px 20px;
  border-radius: 20px;
  overflow: hidden;
}

.replyBannerImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bannerContent {
  position: absolute;
  bottom: 20px;
  right: 60px;
  color: white;
  font-weight: bold;
}

/* 麵包屑 */
.replyBread {
  color: white;
  position: absolute;
  margin-top: 200px;
  top: 150px;
  left: 0px;
  background-color: #2196d4;
  padding-left: 50px;
  padding-right: 20px;
  height: 30px;
  box-shadow: #c1efeb 15px 10px;
}

.replyBreadContent {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  line-height: 30px;
}

/* 討論區內容 */
.replyPicBox {
  position: absolute;
  /* z-index: 0; */
  right: 170px;
  top: 380px;
  width: 130px;
}
.replyPic {
  object-fit: contain;
  width: 100%;
}

.replyButton {
  font-weight: bold;
  color: black;
  display: inline-block;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  padding-top: 2px;
  text-decoration: none;
  background-color: #a2e2ea;
  box-shadow: 1px 1px 2px rgb(148, 148, 148);
  position: absolute;
  right: 25px;
  top: 430px;
}
.replyButton:hover {
  color: black;
  background-color: #b6eff7;
}
.replyButton:active {
  background-color: #7ddeeb;
}

.firstF {
  margin-top: 100px;
}

.replyBox {
  position: relative;
  width: 100%;
  /* height: 750px; */
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: #fffed9;
  margin: auto;
  margin-bottom: 0px;
  border-radius: 8px;
  /* border: 1px solid rgb(211, 211, 211); */
  box-shadow: 0px 0px 2px rgb(175, 175, 175);
}
.replyOutBox {
  margin: auto;
  width: 95%;
  /* height: 620px; */
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 2px rgb(163, 163, 163);
}

.replyInBox {
  position: relative;
  margin: auto;
  margin-top: 15px;
  /* padding-top: 15px;
  padding-left: 10px; */
  padding-bottom: 100px;
  width: 95%;
  min-height: 230px;
  /* height: 100%; */
  background-color: white;
}

.deletedReply {
  padding-top: 10px;
  color: rgb(128, 128, 128);
}

.discussContentQuill > div > div {
  padding-top: 10px;
  padding-left: 0;
}
.discussContentQuill > div > .ql-editor {
  line-height: 26px !important;
}

/* 其他樓 */
.otherF {
  margin-top: 70px;
}
/* 刪除和編輯 */
.replyUserBtn {
  line-height: 38px;
}
.replyDelete,
.replyEdit {
  margin-left: 20px;
  text-decoration: none;
  border: none;
  color: gray;
  background: none;
  font-weight: bold;
}
.replyDelete:hover,
.replyEdit:hover {
  color: black;
}
/* 讚和喜歡按鈕樣式 */
.postTime {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.twoButton {
  position: absolute;
  bottom: 15px;
  right: 2px;
}
.likeButton {
  margin-right: 0px;
  margin-left: 20px;
  color: #4972b0;
  background-color: #ffffff;
  border-radius: 50px;
  border: 3px solid #4972b0;
  width: 100px;
  height: 40px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 1px 1px 2px rgb(148, 148, 148);
}
.likeButton:hover {
  background-color: #5c87c7;
  border-color: #5c87c7;
  color: white;
}
.likeButton:active {
  background-color: #48638b;
  border-color: #48638b;
  color: white;
}
.likeButtonActive {
  background-color: #4972b0;
  color: white;
}

.awesomeImg {
  font-size: 20px;
}

.keepButton {
  margin-left: 25px;
  background-color: #ffffff;
  border: 3px solid #ff7676;
  color: #ff7676;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 1px 1px 2px rgb(148, 148, 148);
}

.keepButton:hover {
  background-color: #ff9191;
  border-color: #ff9191;
  color: white;
}
.keepButtonActive {
  background-color: #ff7676;
  color: white;
}
.keepButton:active {
  background-color: #dd6565;
  border-color: #dd6565;
}

.keepImg {
  font-size: 20px;
}

/* 回覆者 */
.replyerBox {
  position: relative;
  background-color: #a2e2ea;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 1px;
  box-shadow: 1px 1px 2px rgb(148, 148, 148);
}

.floorName {
  position: absolute;
  top: -30px;
  left: 10px;
}

.replyerImgBox {
  margin: auto;
  margin-bottom: 10px;
  width: 130px;
  overflow: hidden;
  border-radius: 100px;
}
.replyerImg {
  object-fit: cover;
  width: 100%;
}

/* 新增回復 */
.newReplyBox {
  margin-top: 120px;
}
.redBirdBox {
  margin-top: 120px;
  width: 150px;
}
.redBirdImg {
  object-fit: contain;
  width: 100%;
}
.greenBirdBox {
  width: 130px;
  position: absolute;
  top: -90px;
  right: 0px;
}
.greenBirdImg {
  object-fit: contain;
  width: 100%;
}

.replyInputBox {
  /* width: 900px; */
  padding-top: 1px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #a2e2ea;
}
.replyInputFloor {
  background-color: #fcf657d0;
  width: 60px;
  height: 28px;
  line-height: 28px;
  position: absolute;
  top: 2px;
  left: -45px;
}

.textareaBox {
  margin: auto;
  margin-top: 10px;
  width: 95%;
}
.replySubmitButton {
  color: rgb(65, 65, 65);
  text-decoration: none;
  background-color: #a2e2ea;
  position: absolute;
  bottom: 40px;
  right: 60px;
  width: 90px;
  height: 32px;
  line-height: 32px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  box-shadow: 1px 1px 2px rgb(148, 148, 148);
}
.replySubmitButton:hover {
  background-color: #b6eff7;
}
.replySubmitButton:active {
  background-color: #7ddeeb;
}

/* 熱門推薦標題 */
.r_discussTitle {
  margin-top: 100px;
}

/* .discussRecommendBoxOut {
  margin: auto;
  width: 95%;
  height: 290px;
  background-color: #fffed9;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(175, 175, 175);
} */

/* .discussRecommendBoxIn {
  margin: auto;
  position: relative;
  top: 20px;
  width: 95%;
  height: 250px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 2px rgb(175, 175, 175);
} */

/* .drBox {
  margin: auto;
}

.drImgBox {
  margin-left: 30px;
  margin-right: 30px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.drImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */
