@import "normalize.css";

.App {
  text-align: center;
}

.bodyWidth {
  position: relative;
  width: 1200px;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  background-color: white;
  border: 1px solid rgb(211, 210, 210);
}

#root {
  background-color: rgb(241, 241, 241);
}
